services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: jisuicook_shopping_list_development
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  web:
    build: .
    command: ./bin/dev
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: jisuicook_shopping_list_development
      MYSQL_DATABASE_TEST: jisuicook_shopping_list_test
      BUNDLE_WITHOUT: test
    volumes:
      - .:/rails
      - bundle:/usr/local/bundle
    depends_on:
      - db

volumes:
  db-data:
  bundle:
